* {
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
color: #fff;
}
.navbar-toggler{
    background-color: #fff !important;
}
.navbar-nav{
    /* background-color:  */
    padding-left: 10px !important;
    margin-top: 10px !important;
}
.logo_name{
    position: relative;
    top: 8px;
    font-family: 'Shadows Into Light', cursive;
}
